*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    margin: 25px;
    padding: 20px;
    text-align: center;
    background: #0c206e;
    color: white;
    font-size: 45px;
}
hr {
    width: 30%;
    margin: auto;
    margin-bottom: 50px;
    background-color: black;
    padding: 2px;
}

.list-group {
    margin-top: 20px;
}
.co
.active {
    font-weight: bold;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: #cff20a;
  color: white;
}