<style> 
    .container { 
        width: 70%; 
        margin: auto; 
        text-align: center; 
    } 
  
    .dice { 
        text-align: center; 
        display: inline-block; 
        margin: 10px; 
    } 
  
    body { 
        background-color: #13ba3f; 
        margin: 0; 
        text-align: center;
    } 
  
    h1 { 
        margin: 30px; 
        font-family: "Lobster", cursive; 
        text-shadow: 5px 0 #232931; 
        font-size: 4.5rem; 
        color: #e4e9ed; 
        text-align: center; 
    } 
    h3{
        margin: 30px;
        font-family: all;
        color: red;
        text-align: center;
    }
    p { 
        font-size: 2rem; 
        color: #e4e9ed; 
        font-family: "Indie Flower", cursive; 
    } 
  
    img { 
        width: 100%; 
    } 
  
    .bottom { 
        padding-top: 30px; 
    } 
  
    .butn { 
        background: #4ecca3; 
        font-family: "Indie Flower", cursive; 
        border-radius: 7px; 
        color: #ffff; 
        font-size: 30px; 
        padding: 16px 25px 16px 25px; 
        text-decoration: none; 
    } 
  
    .butn:hover { 
        background: #232931; 
        text-decoration: none; 
    } 
    .header {
  padding: 20px;
  text-align: center;
  background: #0c206e;
  color: white;
  font-size: 45px;
  font-family: all;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: #cff20a;
  color: white;
}
</style> 